{% load static %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS
slim is missing ajax -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<!-- Stripe JS -->
<script src="https://js.stripe.com/v3/"></script>


<!-- jquery-confirm JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<!-- js Render -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.88/jsrender.min.js'></script>
{% include 'base/js_templates.html' %}


<!-- Chart.js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>


 <script>

 function updateCartItemCount(){
 	var badge = $("#cart-count-badge");

 	$.ajax({
 		type: "GET",
 		url: "{% url 'cart:item_count' %}",
 		success: function(data){
 			badge.text(data.count);
 			console.log(data.count);
 		},
 		error: function(response, error) {
 			console.log(response)
 			console.log(error);
 		}

 	})

 }
 $(document).ready(function(){
 	
 	updateCartItemCount()
 })

 </script>


<!-- Django Secure AJAX JS -->

<!-- <script src='{% static "js/csrf.ajax.js" %}'></script> -->

<!-- eCommerce Sales Data JS -->

<!-- <script src='{% static "js/ecommerce.sales.js" %}'></script>
 -->

<!-- eCommerce Custom JS -->

<!-- <script src='{% static "js/ecommerce.js" %}'></script> -->


<!-- eCommerce Main JS -->

<!-- <script src='{% static "js/ecommerce.main.js" %}'></script>  -->




