{% url 'home' as home_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'signup' as register_url %}
{% url 'products:list' as product_url %}
{% url 'add_product' as add_url %}
{% url 'my_product' as myproduct_url %}
{% url 'cart:cart' as cart_url %}
{% url 'predictnoid' as predict_url %}
{% url 'contact:message' as contact_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
   <div class='container'>
  <a class="navbar-brand" href="{{ home_url }}">
    <img src="//getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    AGRI MART BUY AND SELL
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == home_url %}active{% endif %}">
        <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == product_url %}active{% endif %}">
        <a class="nav-link" href="{{ product_url }}">Products</a>
      </li>
      <li class="nav-item {% if request.path == predict_url %}active{% endif %}">
        <a class="nav-link" href="{{ predict_url }}">Forecast graph</a>
      </li>
      <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
        <a class="nav-link" href="{{contact_url}}">Contact</a>
      </li>

      {% if request.user.is_authenticated and request.user.is_farmer %}
      <li class="nav-item {% if request.path == add_url %}active{% endif %}">
        <a class="nav-link" href="{{ add_url }}">Add Product</a>
      </li>
      {% endif %}


      {% if request.user.is_authenticated %}
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Me: {{request.user}}</a>
        {% if request.user.is_farmer %}
          <a class="dropdown-item" href="{{ myproduct_url }}">My Products</a>
          
        {% endif %}

          <a class="dropdown-item" href="{{ logout_url }}">Logout</a>
        </div>
        
      </li>
      {% else %}
       <li class="nav-item {% if request.path == register_url %}active{% endif %}">
        <a class="nav-link" href="{{ register_url }}">Register</a>
      </li>
      <li class="nav-item {% if request.path == login_url %}active{% endif %}">
        <a class="nav-link" href="{{ login_url }}">Login</a>
      </li>
      {% endif %}
      <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
        <a href="{{ cart_url }}"><i class="fa fa-shopping-cart fa-navbar-cart"></i> <span id="cart-count-badge" class='badge'>{{ request.session.cart_item_count }}</span></a>
      </li>


    </ul>
   {%include 'search/snippets/search-form.html' %}
  </div>
</div>
</nav>