<form class='form-product-ajax' method='POST' action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form"> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ product.id }}' />
      <span class='submit-span'>
    {% if product.availability %}
		{% if product in cart.products.all %}
		    In cart <button type='submit' class='btn btn-link'>Remove?</button>
		{% else %}
		 <input type="number" class="form-control" min="1" step="1" value="1" name='quantity' max="100"><button type='submit'  class='btn btn-success'>Add to cart</button>
		{% endif %}
	 {% else %}
        Not available
     {% endif %}
    </span>
</form>

