{% extends 'base.html' %}



{% block content %}
{% if request.user.is_authenticated == False %}
  <div class="row">
    <div class="col-md-8 col-sm-10 col-12">
      <h2>Sign up as a {{ user_type }}</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form}}
        <div>
        <button type="submit" class="btn btn-success">Sign up</button>
      </div>
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}

