{% extends "base.html" %}

{% block content %}
<div class='row mb-3'>
        {% if query %}
        <div class='col-12'>
            Result for <b>{{ query }}</b>
            <hr/>
        </div>
        {% else %}

        <div class='col-12 col-md-6 mx-auto py-5'>
            {%include 'search/snippets/search-form.html' %}
        </div>
        <div class='col-12'>
             <hr>
        </div>
        {% endif %}

       <div class='row'>

		<div class='col -xs-12'>
			{% if messages %}
			    {% for message in messages %}
			    <p{% if message.tags == "success" %} class="alert alert-success" role="alert"{% endif %}>{{ message }}</p>
			    {% endfor %}
			{% endif %}
		</div>

	</div>
    <div class='row'>
	{% for obj in object_list %}
        <div class='col my-3'>
        {% include 'products/snippets/card.html' with instance=obj %}
        </div>
    {% endfor %}
	</div>
{% endblock %}