{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
        {% include 'base/css.html' %}
        {% block base_head %}{% endblock %}
    </head>
    <body>
        {% include 'base/navbar.html' with brand_name='eCommerce' %}
        {% if messages %}

        <div class='container'>
        <div class='alert alert-success text-center alert-dismissible'>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p><br/>
        {% endfor %}
        </div>

        </div>
        {% endif %}

        <div class='container'>
            {% block content %}{% endblock %}
          {% block jscript %}{% endblock %}
        </div>



        {% include 'base/js.html' %}
        <script>
        $(document).ready(function(){
            {% block jquery %}
            {% endblock %}
        });

        </script>

    </body>
  </html>