{% extends "base.html" %}
{% load static %}



{% block base_head %}
<head>
<title>Home Page</title>
</head>
<link rel='stylesheet' href='{% static "css/main.css" %}' >
{% endblock %}

{% block content %}
      <div class="mt-0">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/market.jpg' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/vegetables.jpg' %}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/basket.jpg' %}" alt="Third slide">
          </div>
        </div>
      </div>
    </div>


{% endblock %}

