{% extends "base.html" %}
<script>
{% block jquery %}


function setPrice(){
    var price = $(".variation_select option:selected").attr("data-price")

    var sale_price = $(".variation_select option:selected").attr("data-sale-price")
    if (sale_price != "" && sale_price != "None" && sale_price != null ) {
    $("#price").html("<h3>" + sale_price + " <small class='og-price'>" + price  + "</small></h3>");
    } else {
    $("#price").html(price);
    }
}
setPrice()

$(".variation_select").change(function(){
    setPrice()
    // var img = $(".variation_select option:selected").attr("data-img")
    // $("img").attr("src", img);

})



// ajax add to cart

$("#submit-btn").click(function(event){
    event.preventDefault();
    var formData = $("#add-form").serialize();
    console.log(formData);
    $.ajax({
        type: "GET", // "POST"
        url: "{% url 'cart:cart' %}",
        data: formData,
        success: function(data) {
            showFlashMessage(data.flash_message);
            updateCartItemCount();
        }, 
        error: function(response, error) {
            // console.log(response)
            // console.log(error)
            $("#add-form").submit()
        }
    })

    // $("#add-form").submit()

})



{% endblock %}
</script>

{% block content %}
<!-- 
    <div class='row'>
        <div class='col -xs-12'>
            {% if messages %}
                {% for message in messages %}
                <p{% if message.tags %} class="alert alert-success" role="alert"{% endif %}>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div> -->
    <div class='row'>
        <div class='col-sm-8'>
                <h1>{{ object.title }}</h1>
                <strong> Last Updated: </strong>{{ object.timestamp|timesince }} ago  <br> <br>          
                <strong> Description:</strong>{{ object.description|linebreaks }}<br> 
                <strong> Price: </strong>{{ object.price}} per {{ object.price_unit }}<br>
                <strong> Quantity = 1 means  </strong>{{ object.price_unit }}<br>
                <strong>Added by:</strong> {{ object.added_by}}<br>
                <strong> Available:</strong>

                {% if object.availability == True %}
                    Yes
                {% else %}
                    No
                {% endif %}

                <br>
                {% if object.image %}
                    <img src='{{ object.image.url }}' class='img-fluid' />
                {% endif %}
                <br>
                <br>
                {% if object.added_by == request.user %}
                    <a href='{{object.get_absolute_url}}edit-product' class="btn btn-primary" role="button">Edit</a>
                    <a href='{{object.get_absolute_url}}delete-product' class="btn btn-danger" role="button">Delete</a>
                {% endif %}
                



        </div>

    
        <div class='col-sm-4'>

                <!-- Product Sidebar -->
                {% if product.availability %}   

                <form id='add-form' method='GET' action="{% url 'cart:cart' %}">
                <p id='jquery-message' class='lead'>

                </p>
                    {% if object.variation_set.count > 1 %}
                    <h3 id='price'>{{ object.variation_set.first.price }}</h3>

                    <select name='item' class='form-control variation_select'>
                        {% for vari_obj in object.variation_set.all %}
                        <!-- <option data-img="http://www.spirit1059.com/pics/Feeds/Articles/2015611/118317/Beach.jpg" data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">{{ vari_obj }}</option> -->
                        <option  data-sale-price="{{ vari_obj.sale_price }}" data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">{{ vari_obj }}</option>
                        {% endfor %}
                        </select>

                    {% else %}
                        <input type="hidden" name='item' value='{{ object.variation_set.first.id }}' />
                            <h3 id='price'>{% if object.variation_set.first.sale_price %}
                            {{ object.variation_set.first.sale_price  }}
                            <small class='og-price'>{{ object.variation_set.first.price }}</small>
                            {% else %}
                            
                            {{ object.variation_set.first.price }}
                            {% endif %}
                        </h3>


                    {% endif %}
                    <br/>
                    <h3>Quantity: </h3><input class='form-control' type='number' name='qty' value='1' />
                <br/>
                <input id='submit-btn' type='submit' value='Add to Cart' class='btn btn-default' />
                </form>
                {% else %}
                <h3 >Not available</h3>
                {% endif %}

        </div>
    </div>


{% endblock %}
<!-- 
<p>{{ object.user_accessing }}</p>
{% if request.user == object.user_accessing %}
<a href='#' class="btn btn-primary" role="button">Edit</a>
<a href='#' class="btn btn-secondary" role="button">Delete</a>
{% endif %}
 -->