{% extends "base.html" %}

{% block content %}
	<div class='row'>
		<div class='col -xs-12'>
			{% if messages %}
			    {% for message in messages %}
			    <p{% if message.tags == "success" %} class="alert alert-success" role="alert"{% endif %}>{{ message }}</p>
			    {% endfor %}
			{% endif %}
		</div>
		<br>	

	</div>
    <div class='row'>
	{% for obj in object_list %}
        <div class='col my-3'>
        {% include 'products/snippets/card.html' with instance=obj %}  
        </div>
    {% endfor %}
	</div>
{% endblock %}