{% extends "base.html" %}



{% block content %}

{% if object.added_by == request.user %}
<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete the book with a title "{{ object.title }}"?</p>
    <input class='btn btn-danger' type="submit" value="Confirm" />
    <a class='btn btn-default' href="{{ object.get_absolute_url }}">Cancel</a>
</form>

{% else %}
	<p>You cannot delete,please leave this page</p>

{% endif %}


{% endblock %}